* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.first-container {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  box-shadow: "0px 4px 4px 0px #00000040,inset 0 0 0 1000px rgba(0,0,0,.5)";
  position: relative;
  width: 100%;
  /* height: 100%; */
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}




.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: -10px;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 70%; }
  &:nth-child(4) { left: calc(70% + 220px); }
  &:nth-child(5) { left: calc(70% + 440px); }
  &:nth-child(6) { left: calc(70% + 660px); opacity: 0; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  background:  rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.button {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}



/* nav start */

nav{
  height: 65px ;
  width: 100%;
  /* background-color: black; */
  z-index: 100;
  bottom: 510px;
  position: absolute;
 
  display: flex;
  align-items: center;
  /* position: fixed;  */
  z-index: 1000;
  /* border-bottom: 1px solid black; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
  
}

.active {
  background: #070707;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all ease 0.5s;
}

#menu-btn {
  display: none;
  /* background-color: red; */
}

.first-section {
  height: 100%;
  width: 30%;
  /* background-color: rgba(255, 0, 0, 0.306); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
/* background-color: red; */
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.second-section {
height: 100%;
width: 70%;
/* background-color: rgba(0, 0, 255, 0.416); */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

ul {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

li {
margin-inline: 10px;
list-style: none;
}

li a {
color: white;
text-decoration: none;
}

.first-section img {
height: 60%;
width: 60px;
}

.first-section h1 {
color: white;
font-size: 1em;
}

.search{
display: flex;
justify-content: center;
align-items: center;
}

.search button{
height: 30px; 
width: 100px;
margin: 10px;
border-radius: 25px;
border: none;
cursor: pointer;
}

.search button:hover{
color: white;
background-color: black;
transition: all ease 0.8s;
}

.logout{
  color: white;
  /* transition: 0.2s all ease ; */
}

.logout:hover{
  border-left: 1px solid white;
  border-right: 1px solid white;
}




.line {
background-color: rgb(255, 255, 255);
height: 3px;
width: 60%;
margin-block: 7px;
}


.main-container{
height: auto;
width: 100%;
/* background-color: red; */
display: flex;
flex-direction: column;
} 
/* .first-section start here  */
.first-container {
height: 100vh;
width: 100%;

/* background-color: aqua; */
}

body{
display: flex;
flex-direction: column;
}

.bck {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
-webkit-animation: slide 40s infinite linear;
        animation: slide 40s infinite linear;
background: url(/project-prateek/images/chenging-bg/john.jpg);
}

/* .first-section end here  */

/* .second-section start here  */
.second-container {
height: 100vh;
width: 100%;
}
.second-containerr {
height: 90vh;
width: 100%;
}

::-webkit-scrollbar {
display: none;
}

.gls {
background: url(../images/logo/baxkground.jpg);
/* position: fixed; */
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;

}

.small-section {
height: 80vh;
min-width: 20%;
background-color: rgba(139, 138, 138, 0.251);
margin: 20px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
border-radius: 9px;
/* margin-left: 59px; */

}

html {
scroll-behavior: smooth;

}

.small-section:hover {
-webkit-transform: scale(1.004);
    -ms-transform: scale(1.004);
        transform: scale(1.004);

-webkit-box-shadow: 0px 0px 5px rgb(0, 0, 0);

        box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.small {
height: 100vh;
/* overflow: auto; */
width: 100%;
/* background-color: red; */
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
/* position: fixed; */
}

.glass {
/* background: transparent; */
/* border-radius: 16px; */
-webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.326);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(1px);
/* border-top:  2px solid rgb(0, 0, 0); */
/* border-bottom:  2px solid rgb(0, 0, 0); */

}

.small-section .img {
/* background-color: white; */
height: 70%;
width: 90%;
border-radius: 9px 9px 0px 0px;

}

.img:hover {}

.img-poster {
height: 100%;
width: 100%;
border-radius: 9px 9px 0px 0px;

}

.M-detail {
color: rgb(0, 0, 0);
/* background-color: red; */
height: 93px;
width: 90%;
/* display: flex; */
text-align: center;

}

.M-detail p {
font-size: 0.7em;
}

.M-detail .i {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
/* background-color: red; */
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin: 5px;

}


.i span {
margin-inline: 3px;
}

.downlode-watch {
/* background-color: red; */
height: 30px;
width: 90%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.buttonn {
height: 90%;
width: 45%;
border-radius: 9px;
outline: none;
background-color: rgba(0, 0, 0, 0.614);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
text-decoration: none;
color: rgb(255, 255, 255);
border: none;
}

.buttonn i {
margin-right: 5px;
}

.buttonn:hover {
background-color: #ffffffb5;
-webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
        color: black;
}

.checked {
color: orange;
}

#up{
font-size: 2em;
}

.scrole {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
/* background-color: red; */
overflow: auto;
height: 90vh;
width: 100%;
}

.heading {
/* z-index: 3; */
color: #000000;
font-size: 3em;
/* position: fixed ; */
/* background-color: red; */
width: 100%;
/* padding-left: 70px; */
}

.burger {
height: 50px;
width: 50px;
/* background-color: green; */
display: none;
}

.line {
background-color: rgb(255, 255, 255);
height: 3px;
width: 60%;
margin-block: 7px;
}

















@media (max-width:450px) {
.second-section {
    /* display: none; */
    /* background-color: red; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 0px;
    width: 100%;
}

.detail-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* background-color: green; */
    /* min-height: 500px;   */
    /* display: none; */
}

.first-section {
    /* background-color: red; */
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* height: 70px;
    top: -77px; */
    position: relative;
}

.logo {
    margin-left: 20px;
}

nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* background-color: green; */
    /* height: 455px; */
}

.burger {
    display: block;
    /* background-color: red; */
    /* margin-right: 20px */
}

.topnav{
    display: none;
}

.detail-section ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.detail-section ul li {
    margin-block: 20px;
    /* background-color: ; */
}

.small-section {
    min-width: 70%;
    height: 60vh;
    /* background-color: red; */
}

.second-container {
    /* background-color: yellow; */
    height: 72vh;
}

.heading {
    /* background-color: red; */
    width: 100%;
    /* justify-content:left; */
    position: relative;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* justify-content: ; */
    /* padding-left: 20px/; */
    /* padding-left: -20px; */
}



}